<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController"
        ng-init="getMember()">

        <div ng-repeat="(key, value)  in list">
            <input type="checkbox" ng-model="key.selected"
                ng-true-value="'{{key}}'" ng-false-value="''"
                id="'{{key}}'" />

            {{ key }}
        </div>
        
        <p><button ng-click="submit(list)">Submit</button></p>

        <p>{{the_list}}</p>
    </div>
</body>
<script>
    var myApp = angular.module('myApp', []);

    myApp.controller('myController', ['$scope', function ($form) {
        $form.submit = function (list) {
            var books = [];
            angular.forEach(list, function (value, key) {
                if (list[key].selected == list[key].name) {
                    books.push(list[key].selected);
                }
            });
                  $scope.getMember = function(id) {
                //                  console.log(id);
                    var meta1 = JSON.parse(window.localStorage.getItem("store"));
                    $scope.list=meta1
                };
            // SHOW THE SELECTED ITEMS IN THE EXPRESSION.
            if (books.length > 0)
                $form.the_list = books.toString();
            else
                $form.the_list = 'Please choose an option';
        }
    } ]
    );
</script>
</html>